body {
  font-family: Arial, sans-serif;
}

.hero {
  background-color: #f5f5f5;
  padding: 80px 0;
}

.section {
  padding: 60px 0;
}

.card {
  margin-top: 20px;
}

.hero{
    display: flex;
    gap: 10px;
}

.container-left{
        width: 67vw;
        align-content: center;
}

.image{
     height:"180vh";
}

.container-right img{
    height: 29vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px silver;
}

